my_mnist.mmap
s2t/audio-chunks/chunk1.wav
s2t/audio-chunks/chunk1.wav
.gitignore
s2t/audio-chunks/chunk2.wav
s2t/audio-chunks/chunk3.wav
s2t/audio-chunks/chunk4.wav
s2t/audio-chunks/chunk5.wav
s2t/audio-chunks/chunk6.wav
s2t/audio-chunks/chunk7.wav
s2t/audio-chunks/chunk8.wav
s2t/audio-chunks/chunk9.wav
s2t/audio-chunks/chunk10.wav
